<form method="POST" action="">
<h4>Delete Plasmid</h4>
{{ plasmid_del_form.hidden_tag() }}

    <div class="form-field">{{ plasmid_del_form.plasmid_id.label }} {{ plasmid_del_form.plasmid_id }}</div>
    {% if plasmid_del_form.plasmid_id.errors %}
        <ul class="errors">
            {% for error in plasmid_del_form.plasmid_id.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="form-field"> {{ plasmid_del_form.submit }}</div>
</form>