{% extends 'layout.html' %}

{% block title %}
    Genes
{% endblock %}

{% block content %}
    <section class="tables">
        <div id="gene">
            <h3>Gene Data</h3>
            {{ gene|safe }}
        </div>

        <div class="text-controls">
            <div class="edit-form">
                {% include 'add_gene.html' %}
            </div>
            <div class="edit-form">
                {% include 'delete_gene.html' %}
            </div>
        </div>
    </section>
{% endblock %}