
{% extends 'layout.html' %}

{% block title %}
    Strains
{% endblock %}

{% block content %}
    <section class="tables">
        <div id="strain">
            <h2>Strain Data (click row to view details)</h2>
            {{ strain|safe }}
        </div>

        <div class="text-controls">
            <div class="edit-form">
                {% include 'add_strain.html' %}
            </div>
            <div class="edit-form">
                {% include 'delete_strain.html' %}
            </div>
        </div>
    </section>
{% endblock %}