
{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="title-zoom">
        <form>
            <input class="btn-back" type="button" value="Back" onclick="history.back()">
        </form>
        <section>
            <h1>{{ title }} - {{ subtitle }} (ID: {{ zoom_id }})</h1>
        </section>
    </div>

    <section class="files">
        {% if file_path_pairs is not none %}
            <h2>Associated Files (click to download):</h2>
            <ul class="file-list">
                {% for file in file_path_pairs %}
                <li><a href={{ url_for('static', filename=file[1].replace('./static/', '')) }} download>{{ file[0] }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <section class="tables">
        {% if df_children is not none %}
            <div id="children">
                <h2>Associated Children (click row to view details)</h2>
                {{ df_children|safe }}
            </div>
        {% endif %}

        {% if df_parents is not none %}
            <div id="children">
                <h2>Associated Parents (click row to view details)</h2>
                {{ df_parents|safe }}
            </div>
        {% endif %}
    </section>

    {% if upload_form is not none %}
    <section class="upload">
        {% include 'upload_form.html' %}
    </section>
    {% endif %}
{% endblock %}