
{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section>
        <h1>{{ title }} - {{ subtitle }} (ID: {{ zoom_id }})</h1>
    </section>

    <section class="files">
        {% if file_path_pairs is not none %}
            <h3>Associated Files:</h3>
            <ul>
                {% for file in file_path_pairs %}
                <li><a href=#>{{ file[0] }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>

    <section class="tables">
        {% if df_children is not none %}
            <div id="children">
                <h3>Associated Children</h3>
                {{ df_children|safe }}
            </div>
        {% endif %}

        {% if df_parents is not none %}
            <div id="children">
                <h3>Associated Parents</h3>
                {{ df_parents|safe }}
            </div>
        {% endif %}
    </section>

    {% if upload_form is not none %}
    <section class="upload">
        {% include 'upload_form.html' %}
    </section>
    {% endif %}
{% endblock %}